body {
    margin: 0px;
}
.container {
    display: flex;
    justify-content: space-between;
}
/*.blue-line {
    clip-path: ellipse(56% 100% at 12% 1%);
    background-color: blue;
    border: 5px solid blue;
}*/
.login-page {
float: right;
margin-right: 200px;
margin-top: 30px;
}
.login-page > h1{
    padding-bottom: 20px;
    text-align: center;
    font-size: 320%;
    padding-right: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    padding: 100px;
}
.button{
    margin-left: 110px;
}
.sign-up{
    text-align: center;
    background-color: blue;
    clip-path: ellipse(63% 98.5% at 9% 2%);
    width: 60%;
    padding-bottom: 8%;
    padding-right: 10%;
    margin-bottom: 0px;
}
.sign-up > h3{
    color: white;
    padding-right: 290px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 50px;
}
.sign-up > h4{
    color: white;
    padding-right: 290px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.signup{
    padding-right: 300px;
}
.socialplat{
    text-align: center;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#rocket{
    height: 400px;
    width: 400px;
    padding-right: 115px;
    padding-top: 20px;
}
  .input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
}
  
.icon {
    padding: 20px;
    padding-right: 25px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.icon user envelope {
    padding: 20px;
    padding-right: 25px;
    min-width: 40px;
    background-color: white;
}
.btnClass {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   }
   .BtnClass {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   }